.btn{
    margin:2px ;
}

.container-fluid{
    // border-radius: 50px;
    margin-top: 50px;

}

.card-header{
    // border-radius: 50px;
    .button{
        border: 5px rgb(255, 255, 255);
        // border-radius: 50px;
    }
}

.card{
    margin-top: 20px;
    // border-radius: 50px;
    // box-shadow: 20px 20px 60px black,inset -20px -20px 60px rgba(255, 255, 255, 0.347);
}